<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1" charset="UTF-8">

        <link rel="stylesheet" href="{{ url_for('static', filename='main/css/navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main/css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main/css/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main/css/form.css') }}">
        {% block extracss %}{% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
        {% block extrajs %}{% endblock %}
        
        <title>Kyleban</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}">
    </head>
    <body id="page-body">
        <nav id="page-navbar">
            {% if session.email %}
                <a class="navbar-link" href="{{ url_for('home') }}">Home</a>
                <a class="navbar-link" href="{{ url_for('logout') }}">Logout</a>
                <h1 id="user-display">Hello {{ user }}</h1>
            {% else %}
                <a class="navbar-link" href="{{ url_for('login') }}">Login</a>
                <a class="navbar-link" href="{{ url_for('signup') }}">Sign Up</a>
            {% endif %}
        </nav>
        <main id="page-main-content">
            {% block maincontent %}{% endblock %}
        </main>
        <footer id="page-footer">© Kyle Roleson</footer>
    </body>
</html>